In [ ]:
#Assign the below variable number to the number 42 by replacing None with 42.

In [1]:
number = 42
number

42

In [ ]:
#reassign the flatiron_mantra variable with the string "Change Things"

In [2]:
flatiron_mantra = "Change Things"
flatiron_mantra

'Change Things'

In [ ]:
#Add a new markdown cell below this one and type ### This is a new header

In [3]:
### This is a new header

In [ ]:
#Now add a new code cell below  & write whatever code you want to write.

In [6]:
#Create a list comprehension that generates a list of odd numbers range(50)

[x for x in range(50) if x % 2 == 1]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]